body {

    font-family: 'Comfortaa', cursive;
    
margin: 0;
/* */

/* цвет фона странички */
/*
################
background: red;
################
*/
background: #333;

font-size: 16px;
line-height: 1.6;
color: #fff;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    /* color: red; */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}




hr {
    display: block;
    width: 100%;
    height: 2px;
    margin: 40px 0;

    border: 0;
    background-color: blue;
}